.fondo{
    /* background:transparent url(../images/fondo.png) repeat top left; */
    background-color: rgba(0, 0, 0, 0.64);
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
    height: 100%;
    width: 100%;
}
.caja{
    position:fixed;
    top:-200px;
    left:30%;
    right:30%;
    background-color:#fff;
    color:#7F7F7F;
    padding:20px;
    border:2px solid #ccc;
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    z-index:101;
}
.caja h1{
    /*border-bottom: 1px dashed #7F7F7F;*/
    text-align: center;
    margin:-20px -20px -20px -20px;
    padding:20px;
    background-color:#75C1FF;
    color:#FFFFFF;
    -moz-border-radius:20px 20px 20px 20px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -khtml-border-top-left-radius: 20px;
    -khtml-border-top-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -khtml-border-bottom-left-radius: 20px;
    -khtml-border-bottom-right-radius: 20px;
}
a.cajacerrar{
    float:right;
    width:26px;
    height:26px;
    /*background:transparent url(../img/cerrar.png) repeat top left;*/
    margin-top:-30px;
    margin-right:-30px;
    cursor:pointer;
}

.rp{
    position:fixed;
    top:-200px;
    left:30%;
    right:30%;
    padding:20px;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.52);
    background-color:#ffd112;
    font-family: Open-sans-b;
    font-size: 20px;
    color:#000;
    text-align: center;
    -moz-border-radius:5px 5px 5px 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -khtml-border-top-left-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -khtml-border-bottom-left-radius: 5px;
    -khtml-border-bottom-right-radius: 5px;
    z-index:101;
}

.formcam{

    text-align: center;
    padding:20px;
    color:#FFFFFF;
    background: #BACCCD;

}

.formcam h1{
   font-size: 100%;
    text-align: center;
    margin:-20px -20px -20px -20px;
    padding:10px;
    background-color:#3D4363;
    color:#fff;
    border-top: 2px  outset #01C5FE;
    border-bottom: 2px  inset #01C5FE;
}
