@font-face {
  font-family: Open-sans-r;
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: Open-sans-b;
  src: url("../fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: Open-sans-l;
  src: url("../fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: Open-sans-Ital;
  src: url("../fonts/OpenSans-Italic.ttf");
}
@font-face {
  font-family: BebasNeue;
  src: url("../fonts/BebasNeue.otf");
}
@font-face {
  font-family: Ananda-Personal-Use;
  src: url("../fonts/Ananda-Personal-Use.ttf");
}
body {
  font-family: Open-sans-r;
  margin: 0px;
  padding: 0px;
}
body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  cursor: pointer;
  text-decoration: none;
}
header {
  position: fixed;
  width: 100%;
}
#Drop {
  display: none;
}
#Drop a {
  color: #363636;
  font-family: Open-sans-b;
  padding: 10px;
}
.Btn-naranja {
  background: #ffd112;
  border: none;
  color: #363636;
  cursor: pointer;
  font-family: Open-sans-b;
  text-transform: uppercase;
  height: 54px;
  padding: 11px 30px;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28);
  box-shadow: 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.Btn-naranja:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.Contactenos {
  width: 100%;
}
.Contactenos-int {
  margin: 0px auto;
  padding: 4em 0px;
  width: 70%;
}
.Contactenos-int h2 {
  color: #363636;
  font-family: Open-sans-b;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
}
.Contactenos-int p {
  text-align: center;
}
.Contactenos-int form {
  margin: 0px auto;
  width: 600px;
}
.Contactenos-int input[type="text"] {
  display: block;
  border: none;
  border: 2px solid #ddd;
  font-size: 16px;
  outline: none;
  font-family: Open-sans-r;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.Contactenos-int input[type="text"]:focus {
  border: 2px solid #ffd112;
}
.Contactenos-int input[type="email"] {
  display: block;
  border: none;
  border: 2px solid #ddd;
  font-size: 16px;
  outline: none;
  font-family: Open-sans-r;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.Contactenos-int input[type="email"]:focus {
  border: 2px solid #ffd112;
}
.Contactenos-int textarea {
  display: block;
  border: none;
  border: 2px solid #ddd;
  font-size: 16px;
  outline: none;
  height: 80px;
  font-family: Open-sans-r;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.Contactenos-int textarea:focus {
  border: 2px solid #ffd112;
}
.Center {
  text-align: center;
}
.Contenedor {
  width: 100%;
}
.Contenedor-int {
  margin: 0px auto;
  padding: 2em 0px;
  width: 70%;
}
.Contenedor-int h2 {
  color: #363636;
  font-family: BebasNeue;
  text-align: center;
  margin: 0px;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 1px;
  padding: 20px 0px;
}
.Contenedor-int h3 {
  color: #363636;
  font-family: Open-sans-b;
  text-align: center;
  font-size: 14px;
  margin: 0px;
}
.Contenedor-int p {
  color: #000;
  font-size: 16px;
  font-family: Open-sans-l;
  line-height: 24px;
}
.Bloque1 {
  background-image: -webkit-linear-gradient(top left, #ffd112 20%, #ff9800 100%);
  background-image: -moz-linear-gradient(top left, #ffd112 20%, #ff9800 100%);
  background-image: -o-linear-gradient(top left, #ffd112 20%, #ff9800 100%);
  background-image: -ms-linear-gradient(top left, #ffd112 20%, #ff9800 100%);
  background-image: linear-gradient(to bottom right, #ffd112 20%, #ff9800 100%);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}
.Bloque1-int {
  margin: 0px auto;
  padding: 5em 0px 5em 0px;
  width: 70%;
}
.Bloque1-int h4 {
  color: #292929;
  font-family: Open-sans-b;
  font-size: 26px;
  text-align: center;
}
.Bloque1-int p {
  color: #292929;
  font-family: Open-sans-r;
  font-size: 16px;
  line-height: 24px;
}
.Bord {
  border-top: 1px solid #e1b80a;
  display: block;
  padding-top: 17px;
}
.Contenedor-images {
  width: 100%;
}
.Contenedor-images-int {
  margin: 0px auto;
  text-align: center;
  padding: 2em 0px;
  width: 100%;
}
.Contenedor-images-int-sec {
  margin: 0px auto;
  display: inline-block;
  vertical-align: top;
  width: 45%;
}
.Contenedor-images-int-sec img {
  width: 300px;
}
.Contenedor-images-int-sec h4 {
  font-family: Open-sans-b;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.Contenedor-images-int-sec p {
  line-height: 8px;
}
.Documentos {
  background: #f2f2f2;
  padding-top: 190px;
  width: 100%;
}
.Documentos-int {
  margin: 0px auto;
  padding: 2em 0px 4em 0px;
  width: 70%;
}
.Documentos-int h1 {
  color: #363636;
  font-family: Open-sans-b;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
}
.Documentos-int-table {
  width: 100%;
}
.Foot {
  background-image: -webkit-linear-gradient(top left, #ffd112 20%, #ff9800 100%);
  background-image: -moz-linear-gradient(top left, #ffd112 20%, #ff9800 100%);
  background-image: -o-linear-gradient(top left, #ffd112 20%, #ff9800 100%);
  background-image: -ms-linear-gradient(top left, #ffd112 20%, #ff9800 100%);
  background-image: linear-gradient(to bottom right, #ffd112 20%, #ff9800 100%);
  padding: 1em 0px;
  width: 100%;
}
.Foot-int {
  margin: 0px auto;
  text-align: center;
  width: 70%;
}
.Foot-int p {
  color: #363636;
  font-size: 12px;
  line-height: 24px;
}
.Foot-int a {
  color: #363636;
}
.Foot-int-sec {
  display: inline-block;
  vertical-align: top;
  padding: 0px 20px 0px 0px;
  width: 33%;
}
.Foot-int-sec h2 {
  color: #363636;
  font-family: BebasNeue;
  text-align: left;
  margin: 0px;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 1px;
  padding: 20px 0px 0px 0px;
}
.Foot-int-sec p {
  font-size: 14px;
  text-align: left;
}
.Imagen-fondo {
  padding-top: 100px;
}
.Imagen-logo {
  margin: 0px auto;
  padding-top: 40px;
  width: 90%;
}
.Imagen-logo img {
  width: 288px;
}
.Imagen-fondo-int {
  background: url("../images/bag.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 570px;
  width: 100%;
}
.Login {
  width: 100%;
}
.Login-int {
  margin: 0px auto;
  padding-top: 50px;
  width: 90%;
}
.Login-int-form {
  border: 1px solid #ddd;
  border-radius: 3px;
  background: #fff;
  margin: 0px auto;
  padding: 20px;
  width: 350px;
}
.Login-int-form h2 {
  font-family: Open-sans-b;
  text-transform: uppercase;
  font-size: 16px;
}
.Login-int-form p {
  font-family: Open-sans-l;
  font-size: 14px;
}
.Login-int-form label {
  display: block;
  font-family: Open-sans-b;
  color: #999;
  font-size: 12px;
  text-align: left;
  margin-bottom: 5px;
}
.Login-int-form input[type=text] {
  border: none;
  margin-bottom: 10px;
  background: #f9f9f9;
  font-family: Open-sans-r;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px 5px;
  width: 100%;
}
.Login-int-form input[type=password] {
  border: none;
  margin-bottom: 10px;
  background: #f9f9f9;
  font-family: Open-sans-r;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px 5px;
  width: 100%;
}
.Home-docs {
  width: 100%;
  margin-bottom: 4em;
}
.Home-docs-int {
  background: #fff;
  padding: 120px 20px 20px 20px;
}
.Home-docs-int p {
  font-family: Open-sans-r;
  font-size: 14px;
}
.Home-docs-int h2 {
  font-family: Open-sans-b;
}
.Home-docs-int-form {
  width: 350px;
}
.Home-docs-int-form label {
  display: block;
  font-family: Open-sans-b;
  color: #999;
  font-size: 12px;
  text-align: left;
  margin-bottom: 5px;
}
.Home-docs-int-form input[type=text] {
  border: none;
  margin-bottom: 10px;
  background: #f9f9f9;
  font-family: Open-sans-r;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px 5px;
  width: 100%;
}
.Home-docs-int-form input[type=password] {
  border: none;
  margin-bottom: 10px;
  background: #f9f9f9;
  font-family: Open-sans-r;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px 5px;
  width: 100%;
}
.BG {
  background: #f9f9f9;
}
.Listar {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  width: 98%;
  margin: 0px auto;
}
.Listar-table {
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  height: 56px;
  table-layout: fixed;
  -webkit-transition: 0.1s all;
  -webkit-transition: 0.1s all;
  -moz-transition: 0.1s all;
  -o-transition: 0.1s all;
  -ms-transition: 0.1s all;
  transition: 0.1s all;
  width: 100%;
  border-bottom: 1px solid #d4d4d4;
}
.Listar-table:hover {
  background: #f5f5f5;
  cursor: pointer;
}
.Listar-table-dato {
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  font-size: 13px;
  overflow: hidden;
  padding: 4px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  width: 20%;
}
.Listar-table-dato span {
  font-size: 14px;
  font-family: Open-sans-l;
  padding-left: 10px;
}
.Listar-table-dato .Mayus {
  text-transform: uppercase;
}
.Listar-table-dato .Title {
  text-transform: uppercase;
  font-family: Open-sans-b;
}
.Izqui {
  width: 70% !important;
}
.Top {
  background: #ffd112;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28);
  box-shadow: 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28);
  width: 100%;
}
.Top-int {
  margin: 0px auto;
  padding: 20px 0px 0px 0px;
  width: 100%;
}
.Top-int-top {
  padding: 10px 0px 20px 0px;
  width: 100%;
  border-bottom: 1px solid #e1b80a;
}
.Top-int-top a {
  color: #000;
}
.Top-int-top h1 {
  color: #363636;
  font-family: Ananda-Personal-Use;
  text-align: center;
  margin: 0px;
  font-weight: 300;
  font-size: 45px;
  letter-spacing: 1px;
}
.Top-int-bottom {
  padding: 20px 0px;
  width: 100%;
}
.Top-int-bottom nav {
  text-align: center;
  width: 100%;
}
.Top-int-bottom nav ul {
  margin: 0px;
  padding: 0px;
}
.Top-int-bottom nav ul li {
  display: inline-block;
  liste-style: none;
  vertical-align: top;
}
.Top-int-bottom nav ul li a {
  color: #363636;
  text-transform: uppercase;
  font-family: Open-sans-b;
  padding: 20px 42px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.Top-int-bottom nav ul li a:hover {
  background: #e1b80a;
}
.Ocultar {
  display: block !important;
}
.Programas {
  background: #f2f2f2;
  padding: 3em 0px;
  width: 100%;
}
.Programas-int {
  margin: 0px auto;
  text-align: center;
  width: 70%;
}
.Programas-int-sec {
  border-radius: 5px;
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.3);
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  margin: 10px;
  display: inline-block;
  min-height: 400px;
  vertical-align: top;
  width: 45%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.Programas-int-sec:hover {
  -webkit-box-shadow: 0 14px 32px 0 rgba(0,0,0,0.3);
  box-shadow: 0 14px 32px 0 rgba(0,0,0,0.3);
}
.Programas-int-sec h2 {
  color: #363636;
  font-family: Open-sans-b;
  font-size: 26px;
  text-align: center;
  border-bottom: 2px solid #8bc34a;
  padding-bottom: 16px;
  margin-top: 5px;
}
.Programas-int-sec p {
  color: #000;
  font-size: 16px;
  text-align: left;
  line-height: 23px;
  font-family: Open-sans-l;
}
.Programas-int-sec strong {
  font-family: Open-sans-b;
}
@media screen and (max-width: 1024px) {
  #Drop {
    padding: 16px;
    display: block;
    text-align: center;
    border-bottom: 1px solid #e5b902;
  }
  #Drop a {
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
  }
  #Drop:hover {
    background: #e1b80a;
  }
  .Contactenos-int {
    width: 80%;
  }
  .Contactenos-int form {
    width: 100%;
  }
  .Contenedor-images-int-sec {
    width: 90%;
  }
  .Contenedor-images-int-sec img {
    width: 200px;
  }
  .Programas-int {
    width: 90%;
  }
  .Programas-int-sec {
    margin: 10px 0px;
    width: 100%;
  }
  .Documentos {
    padding-top: 100px;
  }
  .Documentos-int {
    width: 80%;
  }
  .Foot-int {
    width: 70%;
  }
  .Foot-int-sec {
    padding: 20px 0px;
    width: 100%;
  }
  .Listar-table {
    padding: 10px 0px;
  }
  .Listar-table-dato {
    display: block;
    width: 100% !important;
  }
  .Listar-table-dato .Btn-naranja {
    margin: 0px auto;
    display: block;
    height: auto;
    text-align: center;
    width: 90%;
  }
  .Top-int {
    width: 100%;
  }
  .Top-int h1 {
    font-size: 22px;
  }
  .Top-int-bottom {
    display: none;
    padding: 0px;
    width: 100%;
  }
  .Top-int-bottom nav ul li {
    display: block;
  }
  .Top-int-bottom nav ul li a {
    font-size: 14px;
    padding: 14px 0px;
    display: block;
  }
  .Imagen-logo {
    text-align: center;
    width: 90%;
  }
  .Imagen-logo img {
    width: 250px;
  }
}
