@import "nib"
@font-face
   font-family Open-sans-r
   src url(../fonts/OpenSans-Regular.ttf)
@font-face
   font-family Open-sans-b
   src url(../fonts/OpenSans-Bold.ttf)
@font-face
   font-family Open-sans-l
   src url(../fonts/OpenSans-Light.ttf)
@font-face
   font-family Open-sans-Ital
   src url(../fonts/OpenSans-Italic.ttf)
@font-face
	font-family: BebasNeue
	src url(../fonts/BebasNeue.otf)
@font-face
	font-family: Ananda-Personal-Use
	src url(../fonts/Ananda-Personal-Use.ttf)
body
	font-family Open-sans-r
	margin 0px
	padding 0px
	*
		box-sizing border-box
a
	cursor pointer
	text-decoration none
header
	position fixed
	width 100%
#Drop
	display none
	a
		color #363636
		font-family Open-sans-b
		padding 10px
.Btn-naranja
	background #ffd112
	border none
	color #363636
	cursor pointer
	font-family Open-sans-b
	text-transform uppercase
	height 54px
	padding 11px 30px
	box-shadow 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28)
	transition .3s
	&:hover
		box-shadow none
		
.Contactenos
	width 100%
	&-int
		margin 0px auto
		padding 4em 0px
		width 70%
		h2
			color #363636
			font-family Open-sans-b
			font-size 26px
			text-transform uppercase
			text-align center
		p
			text-align center
		form
			margin 0px auto
			width 600px
		input[type="text"]
			display block
			border none
			border 2px solid #ddd
			font-size 16px
			outline none
			font-family Open-sans-r
			margin-bottom 20px
			padding 10px
			width 100%
			transition .3s
			&:focus
				border 2px solid #ffd112
		input[type="email"]
			display block
			border none
			border 2px solid #ddd
			font-size 16px
			outline none
			font-family Open-sans-r
			margin-bottom 20px
			padding 10px
			width 100%
			transition .3s
			&:focus
				border 2px solid #ffd112
		textarea
			display block
			border none
			border 2px solid #ddd
			font-size 16px
			outline none
			height 80px
			font-family Open-sans-r
			margin-bottom 20px
			padding 10px
			width 100%
			transition .3s
			&:focus
				border 2px solid #ffd112
		
.Center
	text-align center
	
.Contenedor
	width 100%
	&-int
		margin 0px auto
		padding 2em 0px
		width 70%
		h2
			color #363636
			font-family BebasNeue		
			text-align center
			margin 0px
			font-weight 300
			font-size 30px
			letter-spacing 1px
			padding 20px 0px
		h3
			color #363636
			font-family Open-sans-b
			text-align center
			font-size 14px
			margin 0px
		p
			color #000
			font-size 16px
			font-family Open-sans-l
			line-height 24px
.Bloque1
	background-image linear-gradient(to bottom right, #ffd112 20%, #ff9800 100%)
	background-position center center
	background-repeat no-repeat
	-webkit-background-size cover
	-moz-background-size cover
	background-size cover
	background-attachment fixed
	width 100%
	&-int
		margin 0px auto
		padding 5em 0px 5em 0px
		width 70%
		h4
			color #292929
			font-family Open-sans-b
			font-size 26px
			text-align center
			
		p
			color #292929
			font-family Open-sans-r
			font-size 16px
			line-height 24px
.Bord
	border-top 1px solid #e1b80a
	display block
	padding-top 17px
.Contenedor-images
	width 100%
	&-int
		margin 0px auto
		text-align center
		padding 2em 0px
		width 100%
		&-sec
			margin 0px auto
			display inline-block
			vertical-align top
			width 45%
			img
				width 300px
			h4
				font-family Open-sans-b
				text-transform uppercase
				margin-bottom 0px
			p
				line-height 8px
.Documentos
	background #f2f2f2
	padding-top 190px
	width 100%
	&-int
		margin 0px auto
		padding 2em 0px 4em 0px
		width 70%
		h1
			color #363636
			font-family Open-sans-b
			font-size 26px
			text-transform uppercase
			text-align center
		&-table
			width 100%
.Foot
	background-image linear-gradient(to bottom right, #ffd112 20%, #FF9800 100%)
	padding 1em 0px
	width 100%
	&-int
		margin 0px auto
		text-align center
		width 70%
		p
			color #363636
			font-size 12px
			line-height 24px
		a
			color #363636
		&-sec
			display inline-block
			vertical-align top
			padding 0px 20px 0px 0px
			width 33%
			h2
				color #363636
				font-family BebasNeue
				text-align left
				margin 0px
				font-weight 300
				font-size 22px
				letter-spacing 1px
				padding 20px 0px 0px 0px
			p
				font-size 14px
				text-align left
.Imagen-fondo
	padding-top 100px
.Imagen-logo
	margin 0px auto
	padding-top 40px
	width 90%
	img
		width 288px
.Imagen-fondo-int
	background url(../images/bag.jpg)
	background-position center center
	background-repeat no-repeat
	-webkit-background-size cover
	-moz-background-size: cover
	background-size cover
	height 570px
	width 100%
.Login
	width 100%
	&-int
		margin 0px auto
		padding-top 50px
		width 90%
		&-form
			border 1px solid #ddd
			border-radius 3px
			background #fff
			margin 0px auto
			padding 20px
			width 350px
			h2
				font-family Open-sans-b
				text-transform uppercase
				font-size 16px
			p
				font-family Open-sans-l
				font-size 14px
			label
				display block
				font-family Open-sans-b
				color #999
				font-size 12px
				text-align left
				margin-bottom 5px
			input[type=text]
				border none
				margin-bottom 10px
				background #f9f9f9
				font-family Open-sans-r
				border 1px solid #ddd
				border-radius 3px
				padding 10px 5px
				width 100%
			input[type=password]
				border none
				margin-bottom 10px
				background #f9f9f9
				font-family Open-sans-r
				border 1px solid #ddd
				border-radius 3px
				padding 10px 5px
				width 100%
.Home-docs
	width 100%
	margin-bottom 4em
	&-int
		background #fff		
		padding 120px 20px 20px 20px
		p
			font-family Open-sans-r
			font-size 14px
		h2
			font-family Open-sans-b
		&-form
			width 350px
			label
				display block
				font-family Open-sans-b
				color #999
				font-size 12px
				text-align left
				margin-bottom 5px
			input[type=text]
				border none
				margin-bottom 10px
				background #f9f9f9
				font-family Open-sans-r
				border 1px solid #ddd
				border-radius 3px
				padding 10px 5px
				width 100%
			input[type=password]
				border none
				margin-bottom 10px
				background #f9f9f9
				font-family Open-sans-r
				border 1px solid #ddd
				border-radius 3px
				padding 10px 5px
				width 100%
			
		
.BG
	background #f9f9f9			
.Listar
   box-shadow 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
   width 98%
   margin 0px auto
   &-table
      background #fff
      box-sizing border-box
      display table
      height 56px
      table-layout fixed
      -webkit-transition .1s all
      transition .1s all
      width 100%
      border-bottom 1px solid #d4d4d4
      &:hover
         background #f5f5f5
         cursor pointer
      &-dato
         -webkit-box-sizing border-box
         box-sizing border-box
         display table-cell
         font-size 13px
         overflow hidden
         padding 4px
         text-overflow ellipsis
         vertical-align middle
         white-space nowrap
         width 20%
         span
            font-size 14px
            font-family Open-sans-l
            padding-left 10px
         .Mayus
           text-transform uppercase
         .Title
            text-transform uppercase
            font-family Open-sans-b
.Izqui
	width 70% !important
         
         
.Top
	background #ffd112
	box-shadow 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28)
	width 100%
	&-int
		margin 0px auto
		padding 20px 0px 0px 0px
		width 100%
		&-top
			padding 10px 0px 20px 0px
			width 100%
			border-bottom 1px solid #e1b80a
			a
				color #000
			h1
				color #363636
				font-family Ananda-Personal-Use
				text-align center
				margin 0px
				font-weight 300
				font-size 45px
				letter-spacing 1px
				
		&-bottom
			padding 20px 0px
			width 100%
			nav
				text-align center
				width 100%
				ul
					margin 0px
					padding 0px
					li
						display inline-block
						liste-style none
						vertical-align top
						a
							color #363636
							text-transform uppercase
							font-family Open-sans-b
							padding 20px 42px
							transition .3s
							&:hover
								background #e1b80a

.Ocultar
	display block !important
.Programas
	background #f2f2f2
	padding 3em 0px
	width 100%
	&-int
		margin 0px auto
		text-align center
		width 70%
		&-sec
			border-radius 5px
			background #fff
			padding 20px			
			box-shadow 0 0 8px rgba(0,0,0,0.3)
			margin 10px
			display inline-block
			min-height 400px
			vertical-align top
			width 45%
			transition .3s
			&:hover
				box-shadow 0 14px 32px 0 rgba(0,0,0,0.3)
			
			h2
				color #363636
				font-family Open-sans-b
				font-size 26px
				text-align center
				border-bottom 2px solid #8BC34A
				padding-bottom 16px
				margin-top 5px
			p
				color #000
				font-size 16px
				text-align left
				line-height 23px
				font-family Open-sans-l
			strong
				font-family Open-sans-b

	

@media screen and (max-width: 1024px)
	#Drop
		padding 16px
		display block
		text-align center
		border-bottom 1px solid #e5b902
		a
			text-align center
			text-transform uppercase
			transition .3s
		&:hover
			background #e1b80a
	.Contactenos-int
		width 80%
		form
			width 100%
	.Contenedor-images-int-sec
		width 90%
		img
			width 200px
	.Programas-int
		width 90%
		&-sec
			margin 10px 0px
			width 100%
	.Documentos
		padding-top 100px
		&-int
			width 80%
	.Foot-int
		width 70%
		&-sec
			padding 20px 0px
			width 100%
	.Listar-table
		padding 10px 0px
		&-dato
			display block
			width 100% !important
			.Btn-naranja
				margin 0px auto
				display block
				height auto
				text-align center
				width 90%
	.Top-int
		width 100%
		h1
			font-size 22px
	.Top-int-bottom
		display none
		padding 0px
		width 100%
		nav ul li
			display block
			a
				font-size 14px
				padding 14px 0px
				display block
	.Imagen-logo
		text-align center
		width 90%
		img
			width 250px
			